.app {
  background-image: url(../images/bg-pokemon.png);
  background-repeat: repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 400px;
  
  @media all and (max-width: 320px) {
    width: 75vw;
  }
  
}

.small {
  color: #efefef;
  align-self: center;
  font-style: italic;
}