.pokeList {
	// width: 100%;
	list-style: none;
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
	padding: 0;
}

.pokeItem {
  width: 150px;
  	background-color: #fefefe;
	text-align: center;
	border-radius: 10px;
	margin: 5px;
	padding: 20px;
	color: #323232;
}
